<!DOCTYPE html>
<html lang="en">
<head>
    <title>Road lane detection</title>

    <style>

		body {
		background: url(https://img2.goodfon.com/wallpaper/nbig/b/ac/ulica-ogni-boke.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
		height: 100vh;
		  }

    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<body>

<nav class="navbar navbar-inverse" style="font-family:sans-serif; margin-bottom:0px; background-color: #f6f1f1; border-color: #f6f1f1;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#3c5fb5;">R.L.D</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" style="color:#060606; background-color:#f6f1f1">Home | Yash Garg</a></li>
        </ul>
    </div>
</nav>

<header>
    <div style="border-radius:10px; font-size:22px; color:#b9aff1; font-family:sans-serif; background-color:black; padding: 10px 15px;">
         Road Lane Detection application using Computer Vision
    </div>
</header>

<div> <!-- don't change-->
    <form action="/success" method="POST" enctype="multipart/form-data">
        <input style="margin:auto; margin-top: 260px; background-color:#1e90ff00; color: white; padding: 15px 32px; text-align: center; display: block; font-size: 16px; margin-bottom: 15px; font-family:sans-serif"
               type="file" name="file"/>
        <input style="margin:auto; border-radius:10px; background-color:#f6f1f1; color:#100303; padding: 10px 10px; text-align:center; display:block; font-size: 16px; font-family:sans-serif"
               type="submit" value="Upload">
    </form>
</div>

</body>
</html>  
